{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!doctype html>


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>


<body>

    <div class="p-3 mb-2 bg-dark text-white"></div>

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <img src="{% static 'ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg' %} width=" 800"
                        height="550">
                    <div class="mb-4 lead">No se encontró la página que está buscando</div>
                    <a href="https://appindualiestandar.com/#" class="btn btn-link">Verifica de Nuevo</a>
                </div>
            </div>
        </div>
    </div>



</body>


</html>