{% extends 'partials/body.html' %}`
{% load crispy_forms_tags %}

{% block contenido %}


<center>
  </section>
  <br>
  <br>
  <div>
    <div class="container text-left bg-white text-dark row g-6 border rounded">
      <!-- <div class="row align-items-start">
    <div class="col-12 table-responsive">
      <form action="" method="POST">
        <center>
          <h3>PRUEBA Usuario</h3>
        </center>
        {{form|crispy}}
        {% csrf_token %}
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Registrar</button>
        </div>
      </form>
    </div>
  </div> -->
<h3>Registrar Usuario</h3>
      <form class="row g-3">
        <div class="col-md-4">
          <label for="validationServer04" class="form-label">Tipo de documento</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
            required>
            <option selected disabled value="">...</option>
            <option value="1">Cedula de Ciudadanía</option>
            <option value="2">Tarjeta de Identidad</option>
            <option value="3">Cedula de Extranjeria</option>
            <option value="4">Pasaporte</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">Número de documento</label>
          <input type="number" class="form-control is-valid" id="validationServer01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">Nombre</label>
          <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">Apellido</label>
          <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">Correo Electronico</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
            <input type="text" class="form-control is-invalid" id="validationServerUsername"
              aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Campo obligatorio.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer03" class="form-label">Telefono/Celular</label>
          <input type="text" class="form-control is-invalid" id="validationServer03"
            aria-describedby="validationServer03Feedback" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer04" class="form-label">Tipo de Usuario</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback"
            required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">Usuario</label>
          <input type="text" class="form-control is-invalid" id="validationServer05"
            aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">Contraseña</label>
          <input type="password" class="form-control is-invalid" id="validationServer05"
            aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">Confirmar Contraseña</label>
          <input type="password" class="form-control is-invalid" id="validationServer05"
            aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-success" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</center>

{% endblock contenido %}