{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}



<h1>Usuarios</h1>

<a class="btn btn-primary" href="{% url 'usuarios_crear' %}">Crear</a>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo de documento</th>
        <th>Numero de documento</th>
        <th>Tipo usuario</th>
        <th>Estado</th>
        <th>Correo Electronico</th>
        <th>Teléfono</th>
        <th>Contraseña</th>
    </tr>    
    <tr>
     {%for usuario in usuarios %}
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido}}</td>
      <td>{{usuario.tipoDocumento}}</td>
      <td>{{usuario.numeroDocumento}}</td>
      <td>{{usuario.tipoUsuario}}</td>
      <td>{{usuario.estado}}</td>
      <td>{{usuario.correoElectronico}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.clave}}</td>
     {% endfor %}
    </tr>
</table>
   {% endblock contenido %}
