{% extends 'partials/body.html' %}
{% block contenido %}


<br>
<br>

<div class="container-text-center bg-white text-dark row g-6 border rounded">
  <div class="row align-items-start">
    <div class="col-12 table-responsive">
        <table class="table table-bordered" id="tabla-general">


  <thead>
    <tr>
     
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Tipo de Documento</th>
      <th scope="col"># Documento</th>
      <th scope="col">Rol</th>
      <th scope="col">Estado</th>
      <th scope="col">Grupo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>



    {% for usuario in usuarios %}
    <tr>

      {% if usuario.estado != '3' %}
      <td >{{usuario.nombres}}</td>
      <td>{{usuario.apellidos}}</td>
      <td>{{usuario.tipoDocumento}}</td>
      <td>{{usuario.documento}}</td>
      <td>{{usuario.rol}}</td>
      <td>{{usuario.estado}}</td>
      <td>{{usuario.user.groups.all.0}}</td>
      

      <td><a class="btn btn-primary" href="{% url 'usuarios-editar' usuario.id  %}"><i class="fas fa-edit"></i></a>
        
      </td>
      {% endif %}




    </tr>
    {% endfor %}



  </tbody>
</table>
</div>
</div>
</div>
{% endblock contenido %}