{% extends 'partials/body.html' %}`
{% load crispy_forms_tags %}

{% block contenido %}


 
</section >
       
      <div class="container text-left bg-white text-dark row g-6 border rounded">
        <div class="row align-items-start"> 
          <div class="col-12 table-responsive">
           <form action="" method="POST" >
            <center><h3>Crear Usuario</h3></center>
           {{form|crispy}}
           {% csrf_token %}
           <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Registrar</button>
           </div>
           </form>
          </div>
        </div>
      </div>

{% endblock contenido %}