{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


    <center>
    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-7 my-lg-3">
        <a href="{% url 'listap-crear'%}" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR LISTA PRECIO </a>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> EDITAR LISTA PRECIOS </button>
        <button type="button" class="btn btn-primary"><i class="bi bi-save-fill"></i> GUARDAR </button>
      </form>
     
    </section >
    <br/>
    <br/>
    <br/>
    <section id="tablaUsuario">
      <section class="col-lg-12 table">
        <div class="container text-center bg-white text-dark row g-6 border rounded">
          <div class="row align-items-start">
            <div class="col-12 table-responsive">
              <table class="table table-bordered" id="tabla-general"> 
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo Lista Precio</th>
                            <th scope="col">Nombre Lista Precio</th>
                            <th scope="col">Tipo de Producto</th>
                            <th scope="col">Controles</th> 
                            <th scope="col">Controles</th> 
                  </tr>
                </thead>
                <tbody id="tbllistaPrecio">
                  {% for items in listaPrecio%}
                  <tr>
                    <th scope="row">{{items.codListaPrecio}}</th>
                    <td>{{items.nomListaPrecio}}</td>
                    <td>{{items.tipoLista}}</td>
                    <td>
                      <button type="button" class="btn btn-success">Editar</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-warning">Inactivar</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </section>



{% endblock contenido %}  