{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}



    <center>

    <section class="col-lg-6 button_añadir" >
        <button type="button" class="btn btn-primary"><i class="bi-plus-circle"></i> CREAR LISTA PRECIOS </button>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> EDITAR LISTA PRECIOS </button>
        <button type="button" class="btn btn-primary"><i class="bi bi-save-fill"></i> GUARDAR </button> 
    </section >
    <section>
  </section>
    </center>


<center>
<div class="container-tablaListaPrecio p-3 mb-2 bg-white text-dark row g-6 border rounded" >
  <section id="tablaListaPrecio">
    <section class="col-lg-10 table">
      <table class="table"> 
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cod Lista Precio</th>
            <th scope="col">Nom Lista Precio</th>
            <th scope="col">Tipo Lista</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    </section>   
  </div>
</center>

  {% endblock contenido %}