{% extends 'partials/body.html' %}
{% block contenido %}


<center>
    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-7 my-lg-3">
        <button type="button" class="btn btn-primary"><i class="bi-plus-circle"></i> CREAR LISTA PRECIOS </button>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> EDITAR LISTA PRECIOS </button>
        <button type="button" class="btn btn-primary"><i class="bi bi-save-fill"></i> GUARDAR </button>
      </form>
     
    </section >
    </center>

    <div class="container-verReceta p-3 mb-2 bg-white text-dark row g-6 border rounded">

   <center>
        <section id="tablaUsuario">
        <section class="col-lg-10 table">
        <div>

<table class="table table-bordered">
 
   

    <tr>
        <th>Codigo Lista de Precios</th>
        <th>Nombre Lista de Precios</th>
        <th>Tipo de Producto</th>
        <th>Codigo Lista de Precios</th>
        <th>Nombre Lista de Precios</th>
        <th>Tipo de Producto</th>
    </tr>

    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
 
 

  </table>
</div>
</section>
</center>
</div>

{% endblock contenido %}  