{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}


<center>
    <section id="tabla-receta">
        <section class="col-lg-10 table">
        <div class="container-ingrediente">
         <div class="row clearfix">
            <div class="col-md-12 table-responsive">
             <table class="table table-bordered table-hover table-sortable" id="tab_logic">
               
                  <thead>
                     <tr >
                    <th class="text-center">
                        Código componente
                    </th>
                    <th class="text-center">
                        Nombre Componente
                    </th>
                    <th class="text-center">
                        Código receta
                    </th>
                    <th class="text-center">
                        Nombre receta
                    </th>
                       <th class="text-center">
                        Estandar
                                          
                       <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                    </th>
                </tr>
               
            </thead>
            <tbody>
             
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>


                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>



                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                    <td data-name="codReceta">
                       
                    </td>
                    <td data-name="nomReceta">
                       
                    </td>
                    <td data-name="estandar">
                       
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="codReceta">
                        <input type="text" name='codReceta'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomReceta">
                       
                        <input type="text" name='nomReceta'  placeholder='' class="form-control"/>
                    </td>

                    <td data-name="estandar">
                       
                        <input type="text" name='estandar'  placeholder='' class="form-control"/>
                    </td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                    <td data-name="del">

                        <input type="checkbox" name="countries[]" value="Receta" autocomplete="off"> 
                    </td>
                </tr>



            </tbody>
           
        </table>
    </div>
</div>
</div>


{% endblock contenido %}