{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}


<center>
    <section id="tabla-receta">
        <section class="col-lg-10 table">
        <div class="container-ingrediente">
         <div class="row clearfix">
            <div class="col-md-12 table-responsive">
             <table class="table table-bordered table-hover table-sortable" id="tab_logic">
               
                  <thead>
                     <tr >
                    <th class="text-center">
                        Código componente
                    </th>
                    <th class="text-center">
                        Nombre Componente
                    </th>
                  
                </tr>
               
            </thead>
            <tbody>
             
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
    
                    </td>
               
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
            
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                 
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
          
                 
                </tr>


                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
            
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                           
                </tr>



                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    </td>
              
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                             
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                   
                                  
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
            
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                                
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                                                
                   
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                    </td>
                                     
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
                  
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                                   
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
            
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    
                                 
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
               
                </tr>
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                   
                    </td>
                    <td data-name="nomComponente">
                    </td>
                    
                </tr>

                  

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <input type="text" name='codComponente'  placeholder='' class="form-control"/>
                    </td>
                    <td data-name="nomComponente">
                            <input type="text" name='nomComponente'  placeholder='' class="form-control"/>
                    </td>
          
                </tr>



            </tbody>
           
        </table>
    </div>
</div>
</div>


{% endblock contenido %}