{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}

<div class="container d-flex justify-content-center">
    <div class="bg-white w-75 p-4 m-5 rounded">

           
  <table class="table table-bordered table-hover table-sortable" id="tab_logic">
    <thead>
      <tr>
                  <th class="text-center">
                        Código componente
                    </th>
                    <th class="text-center">
                        Nombre Componente
                    </th>
                  
                </tr>
               
            </thead>
            <tbody>
               
            
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C1">C1</option></center>
                    </td>
                    <td data-name="nomComponente">
             
                   <option value="1">ACOMPAÑANTE
                </option>     
            </td>
            <td data-name="opciones">
            
                                
                    <seleect class="form-select form-select-lg mb-3" aria-label=".form-select-"<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <td
                    <option value="1">Editar</option>
                    <option value="2">Estado</option>
                </td>g>
                   
         </td>
                </tr>

           

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C2">C2</option></center>
                    </td>
                    <td data-name="nomComponente">
                                                 
                            <option value="2">ADEREZO DE ENSALADAS</option>
                                       </td>
                 
                    
                </tr>
              
                <tr id='addr0' data-id="0" class="hidden">
                  
                      
                    <td data-name="codComponente">
                        <center><option value="C3">C3</option></center>
                      
                    </td>
                    <td data-name="nomComponente">
                     
                            <option value="3">ARROZ</option>
                    </td>
                
                    
                </tr>
               

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C4">C4</option></center>
                    </td>
                    <td data-name="nomComponente">
                    <option value="4">BEBIDAS CALIENTES</option>
                   
                    </td>
              
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C5">C5</option></center>
                    </td>
                    <td data-name="nomComponente">
                       
                            <option value="5">CARNES</option>
                        
                        </td>            
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C6">C6</option></center>
                    </td>
                    <td data-name="nomComponente">
                       
                            <option value="6">CREMA</option>
                           
                        </td>          
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C7">C7</option></center>
                    </td>
                    <td data-name="nomComponente">
                        
                            <option value="7">ENSALADAS</option>
                            
                    </td>
                                     
                </tr>

                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C8">C8</option></center>
                    </td>
                    <td data-name="nomComponente">
                       
                            <option value="8">FRUTAS</option>
                            
                        </td>              
                </tr>

  
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C9">C9</option></center>
                    </td>
                    <td data-name="nomComponente">
                       
                            <option value="9">JUGO</option>
                          
                        </td>              
                </tr>

   
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="codComponente">
                        <center><option value="C10">C10</option></center>
                    </td>
                    <td data-name="nomComponente">

                       
                            <option value="10">POSTRES COMPRADOS</option>
                         
                    </td>
                    
                </tr>


            </tbody>
           
        </table>
 
    <div><a id="add_row" class="btn btn-primary float-right">Adicionar Componenente</a>	</div>
    </div>





    </div>
</div>
</div>

	

{% endblock contenido %}