{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}

<title>Crear Receta</title>

  </br> 
  </br> 
  </br> 
  </br> 
  </br> 
  <div class="row my-12">
    <div class="col-md-12">
      <div class="border bg-white p-2">
        <h4>Agregar Recetas</h4>
        <hr>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Crear</button>
        </form>
      </div>
    </div>
  </div>
{% endblock contenido %}





