{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-secondary" href="">Ingredientes</button>
    <button type="button" class="btn btn-secondary" href="">Modificar receta</button>
  </div>





  <div class="row">
	<div class="container-ingrediente">
	  <div class="clearfix visible-xs">
		<div class="bg-white w-100 p-8 m-2 rounded">
			  <table class="table table-hover" id="tab_logic">
 
  <form action="">
    {{form}}
  </form>
   </table>
   </div>
    </div>
    </div>
    </div>

 
  <div class="container-ingrediente">
    <div class="clearfix visible-xs">
    	<div class="table table-condensed">
            <table class="table table-hover" id="tab_logic">
                <center><h4>Ingredientes</h4></center>
				<thead>
                  	<tr >
                    	<th class="text-center">
							Código ingrediente
						</th>
                        <th class="text-center">
							Nombre ingrediente
						</th>
                        <th class="text-center">
							Cantidad materia prima
						</th>
                        <th class="text-center">
							Código unidad medida
						</th>
                       	<th class="text-center">
							Unidad Medida
						</th>
    					
                       	<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
						</th>
					</tr>
                   
				</thead>
				<tbody>
                 
    				                 

                    <tr id='addr0' data-id="0" class="hidden">
                        <td data-name="codIngrediente">
						    <input type="text" name='codIngrediente'  placeholder='' class="form-control"/>
                        </td>
                        <td data-name="nombreIngrediente">
                                <input type="text" name='nomIngrediente'  placeholder='' class="form-control"/>
                        </td>
                        <td data-name="codUnidadMedida">
						    <input type="text" name='codUnidadMedida'  placeholder='' class="form-control"/>
						</td>
                        <td data-name="cantidadMateriaPrima">
						    <input type="text" name='cantidadMateriaPrima'  placeholder='' class="form-control"/>
						</td>
                        <td data-name="sel">
                            <select name="sel0">
                               <option value="1">Gramos</option>
                               <option value="2">Kilos</option>
                               <option value="3">Litros</option>
                           </select>
                       </td>
                      
						
						<td data-name="del">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                              </svg>
                        </td>
					</tr>








				</tbody>
               
			</table>
		</div>
    </div>
	
    </div>  
    <div><a id="add_row" class="btn btn-primary float-right">Adicionar Ingredientes</a>	</div>
    </div>
</div>

{% endblock contenido %}

