{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}
      

<center>
  <section id="botonAñadir">
  <section class="col-lg-12 button_añadir" >
   
     <form class="form-inline my-7 my-lg-3">
      <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> CREAR RECETA </button>
      <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> EDITAR RECETA </button>
    </form>
   
  </section>
  </center>

  <div class="container-verReceta p-3 mb-2 bg-white text-dark row g-6 border rounded">

    <center>
          <section id="tablaUsuario">
          <section class="col-lg-10 table">
          <div>
  
            <table class="table table-bordered" id="tabla-general"> 
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Codigo Receta</th>
                  <th scope="col">Nombre Receta</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Estandar</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Preparación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                  <tr>
                    <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                  <td></td>
                  <td></td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                </tbody>
            </table>
            </div>
            </center>
</div>
    {% endblock contenido %}