{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<center>
    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-3 my-lg-3">

    <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR RECETA </button>
    <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> EDITAR RECETA </button>
    <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> EXPORTAR RECETA</button>
    <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> GUARDAR RECETA </button>
  
</section >



          <div class="container-usuario p-2 mb-1 bg-white text-dark row g-3 border rounded">
  
            <center><h3>Crear Receta</h3></center>
                      <form class="row g-12" style="margin:100 ">
                        
                        <div class="col-2">
                            <label for="inputAddress" class="form-label">Codigo Receta</label>
                            <input type="number" class="form-control" id="inputAddress" placeholder="Introduzca el codigo de la receta">
                          </div>
                          <div class="col-7">
                            <label for="inputAddress2" class="form-label">Nombre Receta</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Introduzca el codigo de la receta"">
                          </div>
                          <div class="col-1">
                              <label for="inputAddress2" class="form-label">Estandar</label>
                              <input type="text" class="form-control" id="inputAddress2" placeholder="Introduzca la cantidad de usuarios a estandar">
                            </div>
                        <div class="col-md-2">
                          <label for="inputAddress2" class="form-label">Estado</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Debe habilitar la receta">
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddress2" class="form-label">Preparación</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Ingrese el paso a paso de la receta">
                          </div>
                      </form>
                    <center>
                      <form class="form-inline my-3 my-lg-3">
                      <button type="button" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR RECETA </button>
                    </form>
                  </center>
                    </div>
        
                   
                      {% for ingrediente in ingredientes %}
                      <tr>
                 
                  
                  
                  
                      </tr>
                      {% endfor %}
                  
                  
                  
                    </tbody>

{% endblock contenido %}

