
{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}
</br> 
</br> 
</br> 
</br> 
</br> 

<div class="row my-12">
  <div class="col-md-12">

      <div class="border bg-white p-3">
          <h4>Agregar Recetas</h4>
          <hr>
        <form enctype="multipart/form-data" method="post">
          <div class="row mt-5 p-3 shadow-lg rounded bg-white">
            <div class="row">
              {% csrf_token %}
              {% for campo in formulario%}
              <div class="col-12 col-md-6 col-xl-6 mb-3">
                <label for="poliza" class="form-label">{{ campo.label  }}:</label>
                <input 
                  type="{{ campo.field.widget.input_type  }}" 
                  class="form-control required" 
                  id="" 
                  name="{{ campo.name  }}" 
                  placeholder="Escribe" 
                >
              </div>
              {% endfor %}

            </div>
            <div class="col-5 help-text">{{ campo.errors }}</div>
            <hr />
            <div class="row text-center">
              <div class="col-12 col-md-12 col-xl-12 mb-3">
                <input type="submit" class="btn btn-primary" value="CREAR RECETA">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  
  {% endblock contenido %}








