{% extends 'partials/body.html' %}
{% block contenido %}



<div class="container-verReceta p-3 mb-2 bg-white text-dark row g-6 border rounded">

<center>
    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-7 my-lg-3">
        <a href="{% url 'recetaCrear'%}" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR RECETA </a>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> VER RECETAS</button>
        
      </form>
     
    </section >
    </center>

   <center>
    <section id="verReceta">
        <section class="col-lg-10 table">
        <div>

    <table class="table table-bordered">
    <tr>
        <th scope="col">Código Componente</th>
        <th scope="col">Nombre Componente</th>
        <th scope="col">Código Receta</th>
        <th scope="col">Nombre Receta</th>
        <th scope="col">Cantidad Materia Prima </th>
        <th scope="col">Codigo Ingrediente</th>
        <th scope="col">Nombre Ingrediente</th>
        <th scope="col">Unidad Medida</th>
        <th scope="col">Cantidad Materia Prima</th>
        <th scope="col">Costo Unitario</th>
        <th scope="col">Costo Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>         
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      
  </table>
</div>
</section>
</center>
</div>

{% endblock contenido %}  