{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}

 <center>
    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-7 my-lg-3">
        <button type="button" class="btn btn-primary"><i class="bi bi-back "></i> IR AL ESTANDARIZADOR</button>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> QUITAR DE LA LISTA </button>
        
      </form>
     
    </section >
    </center>

   <center>
    <div class="container-tablaVerReceta p-3 mb-2 bg-white text-dark row g-6 border rounded" >
    <section id="tablaListaPrecio">
      <section class="col-12 table">
        <table class="table"> 
          <thead class="thead-dark">
    <tr>
        <th scope="col"><h6>Cod Componente</h6></th>
        <th scope="col">Nom Componente</th>
        <th scope="col">Cod Centro Costos</th>
        <th scope="col">Nom Centro Costos</th>
        <th scope="col">Cod Receta</th>
        <th scope="col">Nom Receta</th>
        <th scope="col">Estandar Receta</th>
        <th scope="col">Porciones Estandar</th>
        <th scope="col">Lista Precio</th>
        <th scope="col">Codigo Ingrediente</th>
        <th scope="col">Nombre Ingrediente</th>
        <th scope="col">Unidad Medida</th>
        <th scope="col">Cantidad M</th>
        <th scope="col">Costo U</th>
        <th scope="col">Costo Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>         
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      
  </table>
</section>
</div>
</center>


{% endblock contenido %}