{% extends 'partials/body.html' %}
{% block contenido %}



<div class="container-verReceta p-3 mb-2 bg-white text-dark row g-6 border rounded">


    <section id="botonAñadir">
    <section class="col-lg-12 button_añadir" >
     
       <form class="form-inline my-7 my-lg-3">
        <a href="{% url 'estandarizador'%}" class="btn btn-primary"><i class="bi bi-card-list"></i> IR AL ESTANDARIZADOR </a>
        <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i> QUITAR DE LA LISTA </button>
        
      </form>
     
    </section >


   
    <section class="col-lg-12 table">
      <div class="container-text-center bg-white text-dark row g-6 border rounded">
        <div class="row align-items-start">
          <div class="col-12 table-responsive">
            <table class="table table-bordered" id="tabla-general">
              <thead class="thead-dark">
    <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">INGREDIENTE</th>
        <th scope="col">UNIDAD DE MEDIDA</th>
        <th scope="col">INVENTARIO INICIAL</th>
        <th scope="col">CANTIDAD ESTANDARIZAR</th>
        <th scope="col">PEDIDO</th>
        <th scope="col">CC</th>
        <th scope="col">PROVEEDOR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>          
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>         

      
  </table>
</div>
</section>

</div>

{% endblock contenido %}  