* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(253, 252, 252);
    position: relative;
    margin: 0px;
}

.img-fondo {
    background-image: url('../img/alimentos-ricos-en-minerales.jpg');
    opacity: 1;
}


body {
    height: 400px;
    background-image: url("https://3.bp.blogspot.com/-jx4iOrTkN-o/XGCM5wiWqpI/AAAAAAAAEfQ/oenvBoXaPMsaI-XV9bFCwF-aWsKCs1f2QCLcBGAs/s1600/alimentos-ricos-en-minerales.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid; 
    min-height: 100vh;
    grid-template-rows: 80px 90px auto 80px;
    position: relative;
 
}

/* estilos-navbar.css */

@media (max-width: 767px) {
    .navbar-collapse.collapse.show {
      background-color: #f8f9fa;
    }
  
    .navbar-nav .nav-link {
      color: #212529;
    }
  }
  

#seccion-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  
  #idListaPrecio, #idCentroCostos, #idReceta {
    width: 100%;
    max-width: 300px;
  }
  
  #btn-agregar-receta {
    width: 100%;
    max-width: 300px;
  }
  
  
  
  

.container-usuario {
    position: fixed;
    opacity: 0.9;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 800px;
    margin-left: 200px;
    border: 2px solid black;
}

.container-ingrediente {
    position: auto;
    opacity: 0.9;
    margin-top: 200px;
    margin-right: 300px;
    margin-bottom: 800px;
    margin-left: 300px;
    border: 2px solid black;
}

.container-tablaIngrediente {
    position: auto;
    opacity: 0.9;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 800px;
    margin-left: 300px;
    border: 2px solid black;
}

.container-estandarizador1 {
    position: absolute;
    top: 250px;
    left: 100px;
    opacity: 0.9;
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 800px;
    margin-left: 200px;
    border: 2px solid black;
}
    
.container-estandarizador2 {
    position: absolute;
    top: 460px;
    left: 100px;
    opacity: 0.9;
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 800px;
    margin-left: 200px;
    border: 2px solid black;
}

.container-estandarizador3 {
    position: absolute;
    top: 250px;
    left: 555px;
    opacity: 0.9;
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 800px;
    margin-left: 200px;
    border: 2px solid black;

}



.container-verReceta {
    position: fixed;
    opacity: 0.9;
    margin-top: 10px;
    margin-right: 200px;
    margin-bottom: 800px;
    margin-left: 200px;
    border: 2px solid black;

}


.other-section {
    height: 400px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#section {
    width: 50px;
    margin: auto;
    margin: top 0px;

}



#contenedor {
    position: relative;
    left: 420px;
    top: 200px;

    margin: 50;
    padding: 100;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;


}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

#ingresook #modalesConfirmacion .form-register {
    width: 400px;
    background: #aeb3b8de;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgba(233, 225, 225, 0.932);
    box-shadow: 7px 13px 37px rgb(170, 166, 166);
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}



.footer {
    background-image: url('../img/Cenefa.jpg'); 
    background-repeat: repeat-x;
    background-size: cover;
    color: whitesmoke;
    

}

.media{ 
    background-image: url('../img/Cenefa.jpg'); 
   background-repeat: repeat-x;
   background-size: cover;
    color: whitesmoke;   
   
}