{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- Google Font: Source Sans Pro -->
    {% block stylesheet %}
    {% endblock stylesheet %} 
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
    <title>Estandarizador</title>
</head>
    <body class="img-fondo-as">
        {% include 'partials/navbar.html' %}
    <!-- <div class="" > -->
        <div class="container" >
            {% block contenido %}
            {% endblock contenido %}
        </div>
    <!-- </div> -->
        {%include 'partials/footer.html' %}  
        {% include 'partials/js.html' %}
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
