{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'principal' %}">
      <img class="img-thumbnail img-fluid" src="{% static 'img/Logo.jpg' %}" width="120" height="30">
    </a>
    <form class="container-fluid justify-content-start">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Usuario</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'usuarios_crear' %}">Nuevo</a></li>
          <li><a class="dropdown-item" href="{% url 'usuarios' %}">Usuarios</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Receta</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'receta' %}">Recetas</a></li>
          <li><a class="dropdown-item" href="{% url 'ingrediente' %}">Ingredientes</a></li>
          <li><a class="dropdown-item" href="{% url 'componente' %}" class="nav-link">Componente</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Estandarizador</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'estandarizador' %}">Estandarizar</a>
          <li>
          <li><a class="dropdown-item" href="{% url 'centroCostos' %}" class="nav-link">Centro Costos</a></li>
          <li><a class="dropdown-item" href="{% url 'listaPrecio' %}">Lista de precios</a>
          <li>
        </ul>
      </div>
      <div class="flex-grow-1 d-flex align-items-center ml-auto">
        <div class id="perfil"></div>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://img.freepik.com/iconos-gratis/usuario_318-522234.jpg?size=338&ext=jpg&uid=R90929373&ga=GA1.1.641344063.1674585076&semt=ais" alt="user" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </div>
      </div>
    </div>
    </form>
  </div>
</nav>