{% load static %}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'principal' %}">
      <img class="img-thumbnail img-fluid" src="{% static 'img/Logo.jpg' %}" width="120" height="30"> 
    </a>
    <form class="container-fluid justify-content-start">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Usuario</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu"> 
          <li><a class="dropdown-item" href="{% url 'usuarios_crear' %}">Nuevo</a></li>
          <li><a class="dropdown-item" href="#">Permisos</a></li>
        </ul>
      </div> 
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Receta</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu">                   
          <li><a class="dropdown-item" href="{% url 'receta' %}">Nuevo</a></li>
          <li><a class="dropdown-item" href="{% url 'ingrediente' %}">Ingrediente</a></li>
          <li><a class="dropdown-item" href="{% url 'ingrediente-crear'%}" class="btn btn-primary"><i class="bi bi-card-list"></i>Crear Ingrediente</a>
          <li><a class="dropdown-item" href="{% url 'componente' %}" class="nav-link">Componente</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Estandarizador</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'estandarizador' %}">Estandarizar</a><li>
          <li><a class="dropdown-item" href="{% url 'centroCostos' %}" class="nav-link">Centro Costos</a></li>
          <li><a class="dropdown-item" href="{% url 'listaPrecio' %}">Lista de precios</a><li>
        </ul>
      </div>
    </form> 
  </div>   
</nav>




