{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


    

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
    <div class="image-wrapper">
      <img class="img-thumbnail img-fluid" src="{% static 'img/Logo.jpg' %}" width="120" height="30" alt="sidebar background"/> 
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <span
          style="
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 3px;
            font-weight: bold;
          "
          >Estandarizador</span
        >
      </div>
      <div class="sidebar-content">
        <nav class="menu open-current-submenu">
          <ul>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-vip-diamond-fill"></i>
                </span>
                <span class="menu-title">Usuario</span>
                <span class="menu-suffix">&#x1F525;</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Nuevo</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Editar</span>
                    </a>
                  </li>
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">Buscar</span>
                    </a>
                  </li>
                  <li class="menu-item sub-menu">
                      <a href="#">
                        <span class="menu-title">Permisos</span>
                      </a>
                    </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-bar-chart-2-fill"></i>
                </span>
                <span class="menu-title">Receta</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Nuevo</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Buscar</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Exportar</span>
                    </a>
                  </li>
                  <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Importar</span>
                      </a>
                    </li>
                  <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Componente</span>
                      </a>
                  </li>
                   </ul>
              </div>
            </li>
           
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-shopping-cart-fill"></i>
                </span>
                <span class="menu-title">E-commerce</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Products</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Orders</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">credit card</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-global-fill"></i>
                </span>
                <span class="menu-title">Ingredientes</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                 <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Nuevo</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Buscar</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Exportar</span>
                    </a>
                  </li>
                  <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Importar</span>
                      </a>
                    </li>
                
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-ink-bottle-fill"></i>
                </span>
                <span class="menu-title">Centro de costos</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Nuevo</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Buscar</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="#">
                        <span class="menu-title">Exportar</span>
                      </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">Importar</span>
                        </a>
                      </li>
                   </ul>
              </div>
            </li>
           
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-ink-bottle-fill"></i>
                </span>
                <span class="menu-title">Estandarizador</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Estandarizador</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Lista de precios</span>
                          </a>
                        </li>
                        
                       </ul>
                  </div>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span class="menu-icon">
                      <i class="ri-book-2-fill"></i>
                    </span>

</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

{% endblock contenido %}