{% extends 'partials/body.html' %}
{% block contenido %}


<center>
  <section id="botonAñadir">
  <section class="col-lg-12 button_añadir" >
   
     <form class="form-inline my-3 my-lg-3">
     
<center>
  
  <section id="botonesIngrediente">
  <section class="col-lg-12 button_añadir" >
   
    
    <form class="form-inline my-3 my-lg-3">
          <a href="{ url ''}" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR CENTRO DE COSTOS </a>
    </form>
  
  </section > 
   </center>

      <section id="tablaUsuario">
      <section class="col-lg-12 table">
          <div class="container text-center bg-white text-dark row g-6 border rounded">
            <div class="row align-items-start">
              <div class="col-12 table-responsive">
                <table class="table table-bordered" id="tabla-general">  
                  <thead class="thead-dark">
                   
                 <tr>
                  <center><th scope="col">Código Centro Costos</th></center>
                  <center><th scope="col">Nombre Centro Costos</th></center>
                    </tr>
              

                  </thead>
                  
                </table>
              </div>
            </div>
        </div>


  <tbody>



{% endblock contenido %}

