{% extends 'partials/body.html' %}
{% block contenido %}

<title>Centro de costos</title>

<center>
  <section id="botonAñadir">
  <section class="col-lg-12 button_añadir" >
   
     <form class="form-inline my-3 my-lg-3">
     
<center>
  
  <section id="botonesIngrediente">
  <section class="col-lg-12 button_añadir" >
   
    
    <form class="form-inline my-3 my-lg-3">
      <a href="{% url 'centroc-crear'%}" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR CENTRO DE COSTOS </a>
    </form>
  
  </section > 
   </center>


   <br/>
   <br/>
   <br/>
   <section id="tablaUsuario">
     <section class="col-lg-12 table">
       <div class="container text-center bg-white text-dark row g-6 border rounded">
         <div class="row align-items-start">
           <div class="col-12 table-responsive">
             <table class="table table-bordered" id="tabla-general"> 
               <thead class="thead-dark">

                 <tr>
                   <th scope="col">Codigo Centro de Costos</th>
                           <th scope="col">Nombre Centro de Costos</th>
                           <th scope="col">Controles</th> 
                           
                 </tr>
               </thead>
               <tbody id="tblcentroCostos">
                 {% for items in centroCostos%}
                 <tr>
                   <th scope="row">{{items.codCentroCostos}}</th>
                   <td>{{items.nomCentroCostos}}</td>
                   <td>                      
                
                    <!-- Boton disparar Modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Editar
                    </button>
                 
                    <!-- Inicio Modal Editar -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Registro</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            ¿Desea editar el registro seleccionado?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                            <a type="button" class="btn btn-success" href="{% url 'editar-CC' items.id %}"
                              role="button">Si</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Final modal Editar -->    
                        
                  </td>
                   
                 </tr>
                 {% endfor %}
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </section>
   </section>





{% endblock contenido %}

