{% extends 'partials/body.html' %}`

{% load static %}
{% block contenido %}


<title>INDUALI-ESTANDAR-Crear Componente</title>
</br> 
</br> 
</br> 
</br> 
</br> 
<section class="col-lg-12 table">
  <div class="container container-general  p-3 mb-2 bg-white text-dark row g-6 border rounded">
    <div class="row align-items-start">
      <div class="col-12 ">
        <h3 class="fw-bold mt-5 text-center">Crear Centro de Costos</h3>
        <hr class="border border-white border-2 opacity-50"/>
        <form enctype="multipart/form-data" method="post">
          <div class="row mt-5 p-3 shadow-lg rounded bg-white">
            <div class="row">
              {% csrf_token %}
              {% for campo in formulario %}
              <div class="col-12 col-md-6 col-xl-6 mb-3">
                <label for="poliza" class="form-label">{{ campo.label  }}:</label>
                <input 
                  type="{{ campo.field.widget.input_type  }}" 
                  class="form-control required" 
                  id="" 
                  name="{{ campo.name  }}" 
                  placeholder="Escribe" 
                >
              </div>
              {% endfor %}

            </div>
            <div class="col-12 help-text">{{ campo.errors }}</div>
            <hr />
            <div class="row text-center">
              <div class="col-12 col-md-12 col-xl-12 mb-3">
                <input type="submit" class="btn btn-primary" value="CREAR CENTRO COSTOS">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>          
</section>          
  {% endblock contenido %}