{% extends 'partials/body.html' %}
{% block contenido %}

<title>Ingredientes</title>

<center>
  <form class="form-inline my-3 my-lg-3">
    <a href="{% url 'ingrediente-crear'%}" class="btn btn-primary"><i class="bi bi-card-list"></i> CREAR INGREDIENTE
    </a>
  </form>
  <section id="tablaUsuario">
</center>
<section class="col-lg-12 table">
  <div class="container-text-center bg-white text-dark row g-6 border rounded">
    <div class="row align-items-start">
      <div class="col-12 table-responsive">
        <table class="table" id="tabla-general">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Codigo ingrediente</th>
              <th scope="col">Nombre ingrediente</th>
              <th scope="col">Unidad de medida</th>
              <th scope="col">Costo Ingrediente</th>
              <th scope="col">Estado</th>
              <th scope="col">Controles</th>
             
            </tr>
          </thead>
          <tbody id="tblIngredientes">
            {% for items in ingrediente%}
            {% if items.estado == True %}
            <tr>
              <th scope="row">{{items.codIngrediente}}</th>
              <td>{{items.nomIngrediente}}</td>
              <td>{{items.unidadMedida}}</td>
              <td>{{items.costoIngrediente}}</td>
              <td>{{items.estado}}</td>
              <td>
                
                <!-- Boton disparar Modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Editar
                </button>
                <!-- Inicio Modal Editar -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Registro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ¿Desea editar el registro seleccionado?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                        <a type="button" class="btn btn-success" href="{% url 'editar' items.id %}"
                          role="button">Si</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Final modal Editar -->
              </td>
             
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</section>
{% endblock contenido %}