{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- Google Font: Source Sans Pro -->

    {% block stylesheet %}
    {% endblock stylesheet %}

    <title>Estandarizador</title>
</head>
<body class="img-fondo">

<section class="vh-80 gradient-custom">

    <div class="container py-2 ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <img class="img-thumbnail img-fluid" src="{% static 'img/Logo.jpg' %}" width="120" height="30">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Estandarizador</h2>
                            <p class="text-white-50 mb-5">Por favor ingrese los datos de registro</p>

                            <form method="post">
                                {% csrf_token %}

                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        Hubo un error en el formulario. Por favor, verifique los campos ingresados.
                                    </div>
                                {% endif %}

                                <div class="form-outline form-white mb-5">
                                    {{ form.username }}
                                    <label class="form-label" for="typeEmailX">Usuario</label>
                                </div>

                                <div class="form-outline form-white mb-1">
                                    {{ form.password }}
                                    <label class="form-label" for="typePasswordX">Contraseña</label>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-1" type="submit">Ingresar</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js?v=3.2.0' %}"></script>

</body>
</html>
